<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
  <event name="order_cancel_after">
    <observer name="gerencianet_sales_order_cancel_after" instance="Gerencianet\Magento2\Observer\OrderCancel" />
  </event>
  <event name="sales_order_place_after">
    <observer name="gerencianet_sales_order_place_after" instance="Gerencianet\Magento2\Observer\OrderObserver" />
  </event>
  <event name="admin_system_config_changed_section_payment">
    <observer name="gerencianet_admin_system_config_changed_section_payment" instance="Gerencianet\Magento2\Observer\ConfigObserver"/>
  </event>
</config>